<div class="container">

  <div class="row">
    <div class="col-12">
      <h1> clients works! </h1>
      <button type="button" class="btn btn-primary">Create Client</button>
    </div>
  </div><br/>

  <div class="row">
    <div class="col-12">
      <div *ngIf="clients?.length > 0">
        <table class="table table-striped table-dark">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">nit</th>
            <th scope="col">reason social</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let client of clients">
            <td>{{client.id}}</td>
            <td>{{client.nit}}</td>
            <td>{{client.reasonsocial}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      <button type="button" class="btn btn-outline-primary float-left" (click)="callLogin()">Login</button><br/><br/>
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-outline-info float-left" (click)="loadClients()">Get</button>
    </div>
  </div>

</div>


